:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


form {
  width: 400px;
}

input {
  width: 150px;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}